<% include partials/header %>
    <a href="/">Home</a>
    <a href="/campgrounds">Add New Campground</a>
    <h1>Campgrounds</h1>
    <% campgrounds.forEach(function(camp){%>
        <div>
            <h4>
                <%=camp.name%>
            </h4>
            <img src="<%=camp.image%>">
        </div>
        <%})%>

            <% include partials/footer %>
