<% include partials/header %>
    <div class="container">
        <h1> Hello </h1>

        <a href="/campgrounds">View All Campgrounds</a>
        <a href="/campgrounds/new">Add New Campground</a>
    </div>



    <% include partials/footer %>
