<% include partials/header %>
    <h1>Create New Campground</h1>
    <form action="/campgrounds" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="url" placeholder="img url">
        <input type="submit">
    </form>


    <% include partials/footer %>
